
  <h1>Welcome to the Nested Forms Lab!</h1>
  <h1>Your Pirate:</h1>
  <h3>Name: <%= @p1.name %> </h3>
  <h3>Weight: <%= @p1.weight %> </h3>
  <h3>Height: <%= @p1.height %> </h3>

  <h1>Your First Ship:</h1>
  <h3>Name: <%= @s1.name %> </h3>
  <h3>Type: <%= @s1.type %> </h3>
  <h3>Booty: <%= @s1.booty %> </h3>

  <h1>Your Second Ship:</h1>
  <h3>Name: <%= @s2.name %> </h3>
  <h3>Type: <%= @s2.type %> </h3>
  <h3>Booty: <%= @s2.booty %> </h3>
